<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99956174618-402erom8523nd22lpd122qa9qsaf8lnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99956174618-402erom8523nd22lpd122qa9qsaf8lnq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOa59EN76O0Yq6aXsLWTEyHOYzo6ChpCo</string>
	<key>GCM_SENDER_ID</key>
	<string>99956174618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-8814b</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-8814b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99956174618:ios:f2784fff1cce50fc3846a3</string>
</dict>
</plist>